input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

.card.movie-table {
    border: 1px solid #333 !important;
    background-color: #111 !important;
}

.card-header {
    background-color: #000 !important;
    border-bottom: 1px solid #333 !important;
}

.form-control, .form-select, .input-group-text {
    border: 1px solid #444 !important;
    background-color: #000 !important;
    color: #fff !important;
}

.input-validation-error {
    border: 1px solid #ff4d4d !important;
    background-color: rgba(255, 77, 77, 0.05) !important;
}

.text-danger-custom, .field-validation-error {
    color: #ff4d4d !important;
    font-size: 0.75rem !important;
    margin-top: 0.25rem !important;
    display: block !important;
}
