.header-bg {
    background-color: var(--bs-black) !important;
    border-bottom: 1px solid var(--bs-gray-800) !important;
}

.logo-box {
    background-color: var(--bs-danger);
    color: var(--bs-white);
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.nav-custom-link {
    color: var(--bs-gray-600) !important;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1px;
    transition: 0.3s;
}

    .nav-custom-link:hover {
        color: var(--bs-white) !important;
    }

.user-badge {
    background-color: var(--bs-gray-900);
    border: 1px solid var(--bs-gray-800);
    transition: 0.3s;
}

    .user-badge:hover {
        border-color: var(--bs-gray-600);
    }

.user-avatar {
    background-color: var(--bs-gray-700);
    color: var(--bs-white);
    width: 32px;
    height: 32px;
}

.btn-login {
    color: var(--bs-white);
    border: 1px solid var(--bs-gray-600);
    border-radius: 2px;
    font-size: 0.85rem;
    letter-spacing: 1px;
}

    .btn-login:hover {
        background-color: var(--bs-white);
        color: var(--bs-black);
    }

.btn-signup {
    background-color: var(--bs-danger);
    border: 1px solid var(--bs-danger);
    color: var(--bs-white);
    border-radius: 2px;
    font-size: 0.85rem;
    letter-spacing: 1px;
}
