@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Під час обробки вашого запиту сталася помилка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Ідентифікатор запиту:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим розробки</h3>
<p>
    Перемикання в середовище <strong>Розробка (Development)</strong> дозволить відобразити детальнішу інформацію про помилку.
</p>
<p>
    <strong>Середовище розробки не повинно бути увімкнене в опублікованому застосунку.</strong>
    Це може призвести до відображення конфіденційної інформації кінцевим користувачам.
    Для локального налагодження встановіть змінну середовища
    <strong>ASPNETCORE_ENVIRONMENT</strong> у значення <strong>Development</strong>
    та перезапустіть застосунок.
</p>
